name: Build and Push Docker Image

on:
  push:
    paths:
      - 'Dockerfile'
      - 'pyproject.toml'
      - 'uv.lock'

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      IMAGE_NAME: lnnrtwttkhn/rdm-datalad

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push Docker image
        run: |
          docker build -t $IMAGE_NAME:${{ github.ref_name }} .
          docker push $IMAGE_NAME:${{ github.ref_name }}
          if [ "${{ github.ref_name }}" = "main" ]; then
            docker tag $IMAGE_NAME:${{ github.ref_name }} $IMAGE_NAME:latest
            docker push $IMAGE_NAME:latest
          fi
